<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SongUs</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'authentication/style/register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 mx-auto d-table">
                <div class="login">
                    <img src="{% static 'web/pics/logo.png' %}" width="100px" class="logo">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <!-- set username  -->
                        <input type="text" name="username"  class="mx-auto customdisplay usernamecls" placeholder="username" ><br>
                        <p id="usernameerror" class="error">{{usernameerror}}</p>
            
            
                        <!-- set password -->
                        <div class="mx-auto fakeinput">
                            <input type="password" name="password"  class="mx-auto showpass" placeholder="password" >
                        </div><br>
                        <p id="passworderror" class="error">{{passworderror}}</p>
            
            
                        <!-- password again -->
                        <div class="mx-auto fakeinput">
                            <input type="password" name="passwordagain"  class="mx-auto showpass" placeholder="password again" >
                            
                        </div><br>
                        <p id="passwordagainerror" class="error">{{passwordagainerror}}</p>
            
                        <!-- set email -->
                        <input type="email" name="email"  class="mx-auto customdisplay usernamecls" placeholder="email" ><br>
                        <p id="emailerror" class="error">{{emailerror}}</p>
            
            
                        <input type="submit" value="signup" class="mx-auto btn" >
                    </form>
                    <span class="mx-auto my-3 addon" style="color: white;" >Have an account ? <a href="{% url 'login' %}" >login</a></span>
                </div>
            </div>
        </div>
    </div>
</body>


</html>