{% extends 'base.html' %}
{% load static %}

{% block title %}{{this_playlist.name}} - Songus {% endblock %}

{% block linkfile %}
<link rel="stylesheet" href="{% static 'web/style/inplaylist.css' %}">
{% endblock %}


{% block content %}

<div class="container">
    
    <div class="customcard mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="{{this_playlist.avatar.url}}" height="200px" width="200px" class="mx-auto d-table avatarcover">
            </div>
            <div class="col-md-8">
                <div>
                    <h2>{{this_playlist.name}}
                        <a href="{% url 'addfavorite' this_playlist.id %}">
                            {% if not isfav %}
                                <img src="{% static 'web/pics/like.png' %}" height="50px" width="50px" class="like">
                            {% else %}
                                <img src="{% static 'web/pics/likeactive.png' %}" height="50px" width="50px" class="like">
                            {% endif %}
                        </a>
                        <br>
                        <br>
                        <a href="{% url 'deleteplaylist' this_playlist.id %}"><img src="{% static 'web/pics/delete.png' %}" height="50px" width="50px" class="like ml-2 mr-0"></a>
                    </h2>
                    <h3>{{this_playlist.NumOfSongs}} songs</h3>
                </div>
                <div>
                    <a href="#" class="volume" data-bs-toggle="dropdown" id="volumeid" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% static 'web/pics/volumelogo.png' %}" height="50px" width="50px" class="volumelogo"></a>
                    <div class="dropdown-menu customdropdown" >
                        <input type="range" class="form-range" id="musicvolume" onchange="changevolume(this.value)">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 musicbox mx-auto d-table mt-4">

                    {% for song in songs %}
                        <div class="music" id="{{song.name}}">
                            <span>{{song.name}}</span><br>
                            <span class="singer">{{song.artist}}</span>
                            <div class="deletemusic">
                                <a href="{% url 'deletemusic' song.id this_playlist.id %}">
                                    <img src="{% static 'web/pics/deletelogo.png' %}" height="33px" width="33px">
                                </a>
                            </div>
                            <div class="playmusic">
                                <img onclick="playmusic('{% if song.file %}{{song.file.url}}{% else %}{{song.file_link}}{% endif %}', '{{song.id}}' , this)" src="{% static 'web/pics/play.png' %}" class="musicstatus" height="35px" width="35px">                                
                            </div>
                            
                        </div>
                    {% endfor %}

                   
                    

                    <div class="addnewmusic mx-auto d-table mt-3">
                        <a href="{% url 'addmusic' this_playlist.id %}">
                            <img src="{% static 'web/pics/add.png' %}" height="50px" width="50px" class="mx-auto d-table">
                            <span class="text-center mx-auto d-table add">add music</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block customjs %}
<script>
    var isplaying = false
    var fitsattmep = true
    var before = '' ;
    var songVL = document.getElementById('musicvolume');
    var songVLshowup = document.getElementById('volumeid');
    var playbtns = document.getElementsByClassName('musicstatus');
    function playmusic(address , musicid , element){
        
        if (before != address){
            if (isplaying){
                clearInterval(endedtimer);
                for(playbtn of playbtns){
                    playbtn.src = "{% static 'web/pics/play.png' %}";
                }
                audio.pause();
                isplaying = false
            }
            audio = new Audio(address);
            var endedtimer = setInterval(checkifended , 1000);
            songVL.value = (audio.volume)*100;
            $.ajax({
                url: "{% url 'addrecentmusic' %}",
                method: 'POST',
                data: {
                'id': musicid
                },
                dataType: 'json',
                success: function (response) {
                    console.log(response)
                },
                error: function(response){
                    console.log(response)
                }

            });
            fitsattmep = false ;
            before = address ; 
        }
        
        function checkifended(){
            console.log('wokibng');
            if (audio.ended){
                element.src = "{% static 'web/pics/play.png' %}";
                clearInterval(endedtimer);
            }
        }
        if (!isplaying) {
            element.src = "{% static 'web/pics/pause.png' %}";
            songVLshowup.classList.toggle("volume")
            audio.play();
            isplaying = true ;
        }else{
            element.src = "{% static 'web/pics/play.png' %}";
            songVLshowup.classList.toggle("volume")
            isplaying = false ;
            audio.pause();
        }
    }

    function changevolume(volume){
        audio.volume = (volume / 100 )
        console.log(volume);
    }
</script>

{% endblock %}
